<p>
  As a telegram user, <i>if you have not already done so in the past</i>, in
  order to participate you will need to first send a message to the telegram bot
  called
  <b
    ><a href="https://t.me/RapidSensemakingBot" target="_blank"
      >rapid-sensemaking-bot</a
    ></b
  >. You won't be able to receive messages until you do. You will only have to
  do this for this registration, and not future ones.
</p>
