<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Design & Run Rapid Sensemaking</title>
    <style>
        form {
            width: 50%;
            margin: 50px auto;
            max-width: 800px;
        }

        @media only screen and (max-width: 800px) {
            form {
                width: 80%;
            }
        }
    </style>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
</head>

<body>
    <form action="{{formHandler}}" method="post">
        <div id="notifier"></div>
        <h1>Design & Run Rapid Sensemaking</h1>

        <div>
            <p>
                "Rapid sensemaking" in the context of the "rapid sensemaking framework" (rsf) means using digital tools
                to quickly and easily reach many people across many mediums, from Telegram to text messaging and far
                further, and to engage them in processes of ideation, decision making, voting, or other social
                thinking/acting.
            </p>
            <p>
                You can read more about it here: <a target="_blank"
                    href="https://github.com/rapid-sensemaking-framework/noflo-rsf">https://github.com/rapid-sensemaking-framework/noflo-rsf</a>
            </p>
            <p>
                There are THREE stages to this particular process, the Ideation stage, Reaction stage, and the Summary
                stage.
            </p>
            <ol>
                <li>
                    The IDEATION stage can be used for generating one or more responses to any prompt.
                </li>
                <li>
                    The REACTION stage can be used for determining reactions (feelings) about the responses from
                    IDEATION stage.
                </li>
                <li>
                    The SUMMARY stage is to send the full list of results to someone(s).
                </li>
            </ol>
            <p>
                As soon as you finish filling in this form, the rsf process will commence, meaning messages will
                immediately be sent to the participants you listed during configuration.
            </p>
        </div>

        <hr>

        <!-- div*14>label#item$[for="item$"]+input#item$[name="item$" type="text"] -->
        <h2>Ideation Stage</h2>
        <p>At this stage, each participant will be asked to provide responses to a given prompt, defined in this form, and limited to the number of responses set here, and the amount of time.</p>
        <div>
            <label for="rsf/CollectResponses_lctpp--prompt" id="rsf/CollectResponses_lctpp--prompt">What is the prompt you would like to give participants, to reflect on and respond to?</label>
            <textarea id="rsf/CollectResponses_lctpp--prompt" name="rsf/CollectResponses_lctpp--prompt"
                placeholder="What is your definition of Collective Intelligence?"></textarea>
        </div>
        <div>
            <label for="rsf/CollectResponses_lctpp--max_responses" id="rsf/CollectResponses_lctpp--max_responses">What is the maximum number of responses you would like to allow from each participant?</label>
            <input type="text" id="rsf/CollectResponses_lctpp--max_responses" name="rsf/CollectResponses_lctpp--max_responses">
        </div>
        <div>
            <label for="rsf/CollectResponses_lctpp--max_time" id="rsf/CollectResponses_lctpp--max_time">What is the maximum amount of time, in seconds, you'd like to leave for participants to submit their responses? (1 min = 60, 2 = 120, 3 = 180, 5 = 300, 10 = 600)</label>
            <input type="text" id="rsf/CollectResponses_lctpp--max_time" name="rsf/CollectResponses_lctpp--max_time">
        </div>
        <div id="CollectResponses_ParticipantRegister">
                <input type="radio" value="facil_register" id="CollectResponses-check-facil_register" name="CollectResponses-check-facil_register" v-model="register_selection">
                <label class="label-inline" for="CollectResponses-check-facil_register">Configure participant list myself</label>
                <br />
                <input type="radio" value="public_link" id="CollectResponses-check-public_link" name="CollectResponses-check-public_link" v-model="register_selection">
                <label class="label-inline" for="CollectResponses-check-public_link">Allow participants to register at a public link</label>
                <div v-if="register_selection === 'public_link'">
                    <label for="CollectResponses-ParticipantRegister-process_context">Provide a little bit of context to participants as to what they're registering for</label>
                    <input type="text" id="CollectResponses-ParticipantRegister-process_context" name="CollectResponses-ParticipantRegister-process_context">
                    <label for="CollectResponses-ParticipantRegister-max_time">What is the maximum amount of time, in seconds, you'd like to leave for participant registration for this stage? (1 min = 60, 2 = 120, 3 = 180, 5 = 300, 10 = 600)</label>
                    <input type="text" id="CollectResponses-ParticipantRegister-max_time" name="CollectResponses-ParticipantRegister-max_time">
                    <label for="CollectResponses-ParticipantRegister-max_participants">What is the maximum number of participants you'd like to accept for this stage?</label>
                    <input type="text" id="CollectResponses-ParticipantRegister-max_participants" name="CollectResponses-ParticipantRegister-max_participants">
                </div>
            </div>
        <hr>

        <h2>Reaction Stage</h2>
        <p>At this stage, check for the reactions (Agree, Disagree) of particular people about the statements ideated in the first stage.</p>
        <div>
            <label for="rsf/ResponseForEach_cd3dx--max_time" id="rsf/ResponseForEach_cd3dx--max_time">What is the maximum amount of time, in seconds, you'd like to leave for participants to submit their reactions? (1 min = 60, 2 = 120, 3 = 180, 5 = 300, 10 = 600)</label>
            <input type="text" id="rsf/ResponseForEach_cd3dx--max_time" name="rsf/ResponseForEach_cd3dx--max_time">
        </div>
        <div>
            <label for="ReactionOptions--function" id="ReactionOptions--function">What are the options you'd like to give participants to react with? Add custom ones by adding options in the format of "b+B=Block, c+C=Clock" where "b+B" are the 'triggers' that people type, and "Block" is the thing they are choosing, and ", " is the separator.</label>
            <textarea id="ReactionOptions--function" name="ReactionOptions--function">a+A=Agree, d+D=Disagree, p+P=Pass</textarea>
        </div>
        <div id="ResponseForEach_ParticipantRegister">
            <input type="radio" value="facil_register" id="ResponseForEach-check-facil_register" name="ResponseForEach-check-facil_register" v-model="register_selection">
            <label class="label-inline" for="ResponseForEach-check-facil_register">Configure participant list myself</label>
            <br />
            <input type="radio" value="public_link" id="ResponseForEach-check-public_link" name="ResponseForEach-check-public_link" v-model="register_selection">
            <label class="label-inline" for="ResponseForEach-check-public_link">Allow participants to register at a public link</label>
            <div v-if="register_selection === 'public_link'">
                <label for="ResponseForEach-ParticipantRegister-process_context">Provide a little bit of context to participants as to what they're registering for</label>
                <input type="text" id="ResponseForEach-ParticipantRegister-process_context" name="ResponseForEach-ParticipantRegister-process_context">
                <label for="ResponseForEach-ParticipantRegister-max_time">What is the maximum amount of time, in seconds, you'd like to leave for participant registration for this stage? (1 min = 60, 2 = 120, 3 = 180, 5 = 300, 10 = 600)</label>
                <input type="text" id="ResponseForEach-ParticipantRegister-max_time" name="ResponseForEach-ParticipantRegister-max_time">
                <label for="ResponseForEach-ParticipantRegister-max_participants">What is the maximum number of participants you'd like to accept for this stage?</label>
                <input type="text" id="ResponseForEach-ParticipantRegister-max_participants" name="ResponseForEach-ParticipantRegister-max_participants">
            </div>
        </div>

        <hr>

        <h2>Summary Stage</h2>
        <p>At this stage, particular people can be sent the voted upon results of the ideation of everyone.</p>
        <div id="SendMessageToAll_ParticipantRegister">
            <input type="radio" value="facil_register" id="SendMessageToAll-check-facil_register" name="SendMessageToAll-check-facil_register" v-model="register_selection">
            <label class="label-inline" for="SendMessageToAll-check-facil_register">Configure participant list myself</label>
            <br />
            <input type="radio" value="public_link" id="SendMessageToAll-check-public_link" name="SendMessageToAll-check-public_link" v-model="register_selection">
            <label class="label-inline" for="SendMessageToAll-check-public_link">Allow participants to register at a public link</label>
            <div v-if="register_selection === 'public_link'">
                <label for="SendMessageToAll-ParticipantRegister-process_context">Provide a little bit of context to participants as to what they're registering for</label>
                <input type="text" id="SendMessageToAll-ParticipantRegister-process_context" name="SendMessageToAll-ParticipantRegister-process_context">
                <label for="SendMessageToAll-ParticipantRegister-max_time">What is the maximum amount of time, in seconds, you'd like to leave for participant registration for this stage? (1 min = 60, 2 = 120, 3 = 180, 5 = 300, 10 = 600)</label>
                <input type="text" id="SendMessageToAll-ParticipantRegister-max_time" name="SendMessageToAll-ParticipantRegister-max_time">
                <label for="SendMessageToAll-ParticipantRegister-max_participants">What is the maximum number of participants you'd like to accept for this stage?</label>
                <input type="text" id="SendMessageToAll-ParticipantRegister-max_participants" name="SendMessageToAll-ParticipantRegister-max_participants">
            </div>
        </div>
        <br />
        <button type="submit">Move To Configure Participants</button>
    </form>

    <script>
        ['CollectResponses', 'ResponseForEach', 'SendMessageToAll'].forEach(s => {
            new Vue({
                el: `#${s}_ParticipantRegister`,
                data: {
                    register_selection: 'facil_register'
                }
            })
        })
    </script>
</body>

</html>